body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#departure-info-section {
    display: none;
}

#departure-varification {
    display: none;
}

#depart-time {
    display: none;
}

#departed-section {
    display: none;
}